body {
  margin:0px;
  background-color:rgba(55, 54, 52, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:743px;
}
#u14321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:743px;
  display:flex;
}
#u14321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:192px;
}
#u14322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:1440px;
  height:192px;
  display:flex;
}
#u14322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:192px;
}
#u14323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:1440px;
  height:192px;
  display:flex;
}
#u14323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:192px;
}
#u14324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:487px;
  width:1440px;
  height:192px;
  display:flex;
}
#u14324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:192px;
}
#u14325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:676px;
  width:1440px;
  height:192px;
  display:flex;
}
#u14325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:187px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:867px;
  width:1440px;
  height:187px;
  display:flex;
}
#u14326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:168px;
}
#u14327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:772px;
  width:1440px;
  height:168px;
  display:flex;
  color:#FFFFFF;
}
#u14327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u14328 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:870px;
  width:34px;
  height:20px;
  display:flex;
}
#u14328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:37px;
  background:inherit;
  background-color:rgba(38, 101, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(42, 118, 249, 1);
  border-radius:16px;
  -moz-box-shadow:0px 0px 6px rgba(211, 223, 230, 0.349019607843137);
  -webkit-box-shadow:0px 0px 6px rgba(211, 223, 230, 0.349019607843137);
  box-shadow:0px 0px 6px rgba(211, 223, 230, 0.349019607843137);
  font-size:12px;
  color:#F8FBFF;
}
#u14330 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:909px;
  width:329px;
  height:37px;
  display:flex;
  font-size:12px;
  color:#F8FBFF;
}
#u14330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
