body {
  margin:0px;
  background-color:rgba(68, 68, 68, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:1622px;
  background:inherit;
  background-color:rgba(230, 237, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10406 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:103px;
  width:1574px;
  height:1622px;
  display:flex;
}
#u10406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1575px;
  height:74px;
  background:inherit;
  background-color:rgba(99, 122, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10408 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:29px;
  width:1575px;
  height:74px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10410 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:923px;
  width:174px;
  height:120px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10410 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u10411 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:940px;
  width:38px;
  height:52px;
  display:flex;
}
#u10411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10412 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:999px;
  width:37px;
  height:23px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10414 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:751px;
  width:175px;
  height:120px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10414 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:center;
}
#u10415 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:829px;
  width:92px;
  height:23px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:center;
}
#u10415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u10416 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:771px;
  width:38px;
  height:52px;
  display:flex;
}
#u10416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10418 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:923px;
  width:174px;
  height:120px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10418 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10419 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:1001px;
  width:73px;
  height:23px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u10420 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:943px;
  width:38px;
  height:52px;
  display:flex;
}
#u10420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10423 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:1096px;
  width:174px;
  height:120px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10423 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:53px;
}
#u10424 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1117px;
  width:39px;
  height:53px;
  display:flex;
}
#u10424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10425 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1175px;
  width:91px;
  height:23px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10428 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:334px;
  width:174px;
  height:120px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10428 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:53px;
}
#u10429 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:355px;
  width:38px;
  height:53px;
  display:flex;
}
#u10429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10430 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:413px;
  width:109px;
  height:23px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10433 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:468px;
  width:174px;
  height:120px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10433 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:53px;
}
#u10434 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:489px;
  width:39px;
  height:53px;
  display:flex;
}
#u10434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10435 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:547px;
  width:109px;
  height:23px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10438 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:606px;
  width:174px;
  height:120px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10438 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:53px;
}
#u10439 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:627px;
  width:39px;
  height:53px;
  display:flex;
}
#u10439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10440 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:685px;
  width:145px;
  height:23px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(179, 129, 53, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:36px;
}
#u10441 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:364px;
  width:528px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:36px;
}
#u10441 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(179, 129, 53, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:36px;
}
#u10442 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:498px;
  width:528px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:36px;
}
#u10442 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(179, 129, 53, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10443 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:630px;
  width:528px;
  height:72px;
  display:flex;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10443 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 246, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(159, 53, 38, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10444 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:726px;
  width:528px;
  height:365px;
  display:flex;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10444 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(179, 129, 53, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:22px;
}
#u10445 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:1118px;
  width:528px;
  height:76px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:22px;
}
#u10445 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:128px;
  background:inherit;
  background-color:rgba(251, 251, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(38, 106, 185, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10446 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:1275px;
  width:528px;
  height:128px;
  display:flex;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10446 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10447 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:983px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10447_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:52px;
  height:10px;
}
#u10447_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-177px;
  width:10px;
  height:182px;
}
#u10447_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-177px;
  width:64px;
  height:10px;
}
#u10447_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-182px;
  width:20px;
  height:20px;
}
#u10447_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-100px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10448 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:983px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10448_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:52px;
  height:10px;
}
#u10448_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-5px;
  width:10px;
  height:183px;
}
#u10448_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:168px;
  width:64px;
  height:10px;
}
#u10448_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:163px;
  width:20px;
  height:20px;
}
#u10448_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10449 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:983px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10449_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:111px;
  height:10px;
}
#u10449_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10449_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10450 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:811px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10450_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u10450_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-150px;
  width:10px;
  height:155px;
}
#u10450_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-150px;
  width:51px;
  height:10px;
}
#u10450_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-155px;
  width:20px;
  height:20px;
}
#u10450_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-80px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10451 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:811px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10451_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u10451_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-288px;
  width:10px;
  height:293px;
}
#u10451_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-288px;
  width:51px;
  height:10px;
}
#u10451_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-293px;
  width:20px;
  height:20px;
}
#u10451_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-150px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10452 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:811px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10452_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u10452_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-422px;
  width:10px;
  height:427px;
}
#u10452_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-422px;
  width:51px;
  height:10px;
}
#u10452_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-427px;
  width:20px;
  height:20px;
}
#u10452_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-216px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10453 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:394px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10453_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:97px;
  height:10px;
}
#u10453_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10453_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10454 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10454_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:97px;
  height:10px;
}
#u10454_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10454_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10455 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:666px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10455_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:97px;
  height:10px;
}
#u10455_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10455_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10456 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:983px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10456_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:184px;
  height:10px;
}
#u10456_seg1 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-79px;
  width:10px;
  height:84px;
}
#u10456_seg2 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-79px;
  width:185px;
  height:10px;
}
#u10456_seg3 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-84px;
  width:20px;
  height:20px;
}
#u10456_text {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10457 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:811px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10457_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:184px;
  height:10px;
}
#u10457_seg1 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-5px;
  width:10px;
  height:108px;
}
#u10457_seg2 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:93px;
  width:184px;
  height:10px;
}
#u10457_seg3 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:88px;
  width:20px;
  height:20px;
}
#u10457_text {
  border-width:0px;
  position:absolute;
  left:129px;
  top:41px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10458 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1156px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10458_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:364px;
  height:10px;
}
#u10458_seg1 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10458_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10459 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1043px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10459_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:301px;
}
#u10459_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:291px;
  width:731px;
  height:10px;
}
#u10459_seg2 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:286px;
  width:20px;
  height:20px;
}
#u10459_text {
  border-width:0px;
  position:absolute;
  left:165px;
  top:288px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(179, 129, 53, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10460 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:227px;
  width:528px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#68491B;
  text-align:left;
  line-height:26px;
}
#u10460 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10461 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:751px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D06958;
}
#u10461_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-492px;
  width:10px;
  height:492px;
}
#u10461_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-492px;
  width:450px;
  height:10px;
}
#u10461_seg2 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:-497px;
  width:20px;
  height:20px;
}
#u10461_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-474px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
