body {
  margin:0px;
  background-color:rgba(68, 68, 68, 1);
  background-image:none;
  position:relative;
  left:-85px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(98, 95, 82, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8512 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:90px;
  width:375px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8512 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:582px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8513 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:147px;
  width:375px;
  height:582px;
  display:flex;
  color:#FFFFFF;
}
#u8513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u8514 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:147px;
  width:375px;
  height:44px;
  display:flex;
  color:#FFFFFF;
}
#u8514 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u8516 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:158px;
  width:81px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u8516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u8519 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:159px;
  width:12px;
  height:20px;
  display:flex;
}
#u8519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(119, 118, 118, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8520 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:90px;
  width:177px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8520 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:130px;
  background:-webkit-linear-gradient(315.075401140545deg, rgba(238, 176, 58, 1) -25%, rgba(227, 108, 41, 1) 102%);
  background:-moz-linear-gradient(134.924598859455deg, rgba(238, 176, 58, 1) -25%, rgba(227, 108, 41, 1) 102%);
  background:linear-gradient(134.924598859455deg, rgba(238, 176, 58, 1) -25%, rgba(227, 108, 41, 1) 102%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
}
#u8522 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:204px;
  width:351px;
  height:130px;
  display:flex;
}
#u8522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:91px;
}
#u8523 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:226px;
  width:89px;
  height:91px;
  display:flex;
  opacity:0.36;
}
#u8523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#ECECEC;
  line-height:16px;
}
#u8526 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:288px;
  width:99px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#ECECEC;
  line-height:16px;
}
#u8526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8527 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:259px;
  width:194px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8528 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:234px;
  width:85px;
  height:25px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u8530 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:235px;
  width:49px;
  height:49px;
  display:flex;
  opacity:0.96;
  color:transparent;
}
#u8530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8531 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:244px;
  width:30px;
  height:30px;
  display:flex;
}
#u8531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:130px;
  background:-webkit-linear-gradient(337.970161083299deg, rgba(144, 228, 255, 1) 1%, rgba(81, 94, 251, 1) 135%);
  background:-moz-linear-gradient(112.029838916701deg, rgba(144, 228, 255, 1) 1%, rgba(81, 94, 251, 1) 135%);
  background:linear-gradient(112.029838916701deg, rgba(144, 228, 255, 1) 1%, rgba(81, 94, 251, 1) 135%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
}
#u8533 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:344px;
  width:351px;
  height:130px;
  display:flex;
}
#u8533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#ECECEC;
  line-height:16px;
}
#u8536 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:426px;
  width:99px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#ECECEC;
  line-height:16px;
}
#u8536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8537 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:397px;
  width:239px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8538 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:372px;
  width:85px;
  height:25px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8538_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u8540 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:373px;
  width:49px;
  height:49px;
  display:flex;
  opacity:0.96;
  color:transparent;
}
#u8540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8541 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:382px;
  width:30px;
  height:30px;
  display:flex;
}
#u8541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:91px;
}
#u8542 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:362px;
  width:89px;
  height:91px;
  display:flex;
  opacity:0.14;
}
#u8542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:130px;
  background:-webkit-linear-gradient(330.438171688901deg, rgba(233, 182, 51, 1) 1%, rgba(148, 251, 47, 1) 100%);
  background:-moz-linear-gradient(119.561828311099deg, rgba(233, 182, 51, 1) 1%, rgba(148, 251, 47, 1) 100%);
  background:linear-gradient(119.561828311099deg, rgba(233, 182, 51, 1) 1%, rgba(148, 251, 47, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(144, 199, 236, 0.349019607843137);
}
#u8544 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:488px;
  width:351px;
  height:130px;
  display:flex;
}
#u8544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#ECECEC;
  line-height:16px;
}
#u8547 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:570px;
  width:99px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#ECECEC;
  line-height:16px;
}
#u8547 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8547_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8548 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:541px;
  width:205px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8549 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:516px;
  width:85px;
  height:25px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:25px;
}
#u8549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u8551 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:517px;
  width:49px;
  height:49px;
  display:flex;
  opacity:0.96;
  color:transparent;
}
#u8551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8552 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:526px;
  width:30px;
  height:30px;
  display:flex;
}
#u8552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:91px;
}
#u8553 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:506px;
  width:89px;
  height:91px;
  display:flex;
  opacity:0.14;
}
#u8553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
