body {
  margin:0px;
  background-color:rgba(68, 68, 68, 1);
  background-image:none;
  position:relative;
  left:-85px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(98, 95, 82, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8344 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:90px;
  width:375px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8344 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:582px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8345 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:147px;
  width:375px;
  height:582px;
  display:flex;
  color:#FFFFFF;
}
#u8345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u8346 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:147px;
  width:375px;
  height:44px;
  display:flex;
  color:#FFFFFF;
}
#u8346 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u8348 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:158px;
  width:161px;
  height:22px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u8348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8348_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u8351 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:159px;
  width:12px;
  height:20px;
  display:flex;
}
#u8351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(119, 118, 118, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8352 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:90px;
  width:177px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8352 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8352_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8354 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:204px;
  width:351px;
  height:108px;
  display:flex;
}
#u8354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8356 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:279px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8356_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8357 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:222px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8357 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u8358 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:218px;
  width:87px;
  height:82px;
  display:flex;
}
#u8358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8360 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:279px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8362 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:324px;
  width:351px;
  height:108px;
  display:flex;
}
#u8362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8364 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:399px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8364_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8365 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:342px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u8366 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:338px;
  width:87px;
  height:82px;
  display:flex;
}
#u8366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8368 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:399px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8368 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8368_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:444px;
  width:351px;
  height:108px;
  display:flex;
}
#u8370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:519px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8373 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:462px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:458px;
  width:87px;
  height:82px;
  display:flex;
}
#u8374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:519px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8376 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8376_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:564px;
  width:351px;
  height:108px;
  display:flex;
}
#u8378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:639px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8380_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:582px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:578px;
  width:87px;
  height:82px;
  display:flex;
}
#u8382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:639px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
