body {
  margin:0px;
  background-color:rgba(68, 68, 68, 1);
  background-image:none;
  position:relative;
  left:-178px;
  width:1965px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1965px;
  height:3629px;
  background:inherit;
  background-color:rgba(230, 237, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10124 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:83px;
  width:1965px;
  height:3629px;
  display:flex;
}
#u10124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(210, 231, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(38, 106, 185, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10125 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:164px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
}
#u10126 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:1279px;
  width:245px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:60px;
  background:inherit;
  background-color:rgba(210, 231, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(38, 106, 185, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10127 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:3437px;
  width:165px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10128 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:1583px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10129 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:224px;
  width:0px;
  height:0px;
}
#u10129_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u10129_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u10129_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10130 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1415px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10130_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:173px;
}
#u10130_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:153px;
  width:20px;
  height:20px;
}
#u10130_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10131 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1643px;
  width:0px;
  height:0px;
}
#u10131_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:178px;
}
#u10131_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:158px;
  width:20px;
  height:20px;
}
#u10131_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10132 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:615px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10132_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:163px;
  height:10px;
}
#u10132_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10132_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10133 {
  border-width:0px;
  position:absolute;
  left:1744px;
  top:675px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10133_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:1039px;
}
#u10133_seg1 {
  border-width:0px;
  position:absolute;
  left:-827px;
  top:1029px;
  width:832px;
  height:10px;
}
#u10133_seg2 {
  border-width:0px;
  position:absolute;
  left:-832px;
  top:1024px;
  width:20px;
  height:20px;
}
#u10133_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:922px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10134 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:1407px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#3E9D53;
}
#u10134_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u10134_seg1 {
  border-width:0px;
  position:absolute;
  left:-429px;
  top:50px;
  width:434px;
  height:10px;
}
#u10134_seg2 {
  border-width:0px;
  position:absolute;
  left:-434px;
  top:45px;
  width:20px;
  height:20px;
}
#u10134_text {
  border-width:0px;
  position:absolute;
  left:-237px;
  top:41px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:136px;
}
#u10135 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:297px;
  width:225px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10136 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:433px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10136_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:117px;
}
#u10136_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:97px;
  width:20px;
  height:20px;
}
#u10136_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:136px;
}
#u10137 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:548px;
  width:222px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10138 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:683px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10138_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:117px;
}
#u10138_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:97px;
  width:20px;
  height:20px;
}
#u10138_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10139 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:335px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10140 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:365px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10140_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:163px;
  height:10px;
}
#u10140_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10140_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10141 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:585px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10142 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:395px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#3E9D53;
}
#u10142_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:72px;
}
#u10142_seg1 {
  border-width:0px;
  position:absolute;
  left:-376px;
  top:62px;
  width:381px;
  height:10px;
}
#u10142_seg2 {
  border-width:0px;
  position:absolute;
  left:-381px;
  top:57px;
  width:20px;
  height:20px;
}
#u10142_text {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:53px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10143 {
  border-width:0px;
  position:absolute;
  left:1583px;
  top:556px;
  width:321px;
  height:119px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10143 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10144 {
  border-width:0px;
  position:absolute;
  left:1406px;
  top:615px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10144_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:169px;
  height:10px;
}
#u10144_seg1 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:-5px;
  width:10px;
  height:11px;
}
#u10144_seg2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:-4px;
  width:18px;
  height:10px;
}
#u10144_seg3 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10144_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:136px;
}
#u10145 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:797px;
  width:222px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10146 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:933px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10146_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:113px;
}
#u10146_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:93px;
  width:20px;
  height:20px;
}
#u10146_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10147 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:794px;
  width:321px;
  height:119px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10147 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10148 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:865px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10148_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:163px;
  height:10px;
}
#u10148_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10148_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10149 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:1288px;
  width:321px;
  height:119px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10149 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10150 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:1347px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10150_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:157px;
  height:10px;
}
#u10150_seg1 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10150_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10151 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:854px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10151_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:133px;
  height:10px;
}
#u10151_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-5px;
  width:10px;
  height:835px;
}
#u10151_seg2 {
  border-width:0px;
  position:absolute;
  left:-590px;
  top:820px;
  width:723px;
  height:10px;
}
#u10151_seg3 {
  border-width:0px;
  position:absolute;
  left:-595px;
  top:815px;
  width:20px;
  height:20px;
}
#u10151_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:700px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1965px;
  height:73px;
  background:inherit;
  background-color:rgba(99, 122, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10153 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:29px;
  width:1965px;
  height:73px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
}
#u10154 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:2997px;
  width:245px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10155 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:3239px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10156 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:3133px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10156_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:110px;
}
#u10156_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:90px;
  width:20px;
  height:20px;
}
#u10156_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10157 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:3299px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10157_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:142px;
}
#u10157_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:122px;
  width:20px;
  height:20px;
}
#u10157_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10158 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:3065px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10158_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:157px;
  height:10px;
}
#u10158_seg1 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10158_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10159 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:3023px;
  width:321px;
  height:84px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10159 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:136px;
}
#u10160 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:1041px;
  width:222px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10161 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1177px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10161_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:104px;
}
#u10161_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:84px;
  width:20px;
  height:20px;
}
#u10161_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10162 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:1041px;
  width:321px;
  height:119px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10162 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10163 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1109px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10163_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:163px;
  height:10px;
}
#u10163_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10163_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  line-height:36px;
}
#u10164 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:1816px;
  width:321px;
  height:84px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  line-height:36px;
}
#u10164 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10165 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1900px;
  width:0px;
  height:0px;
}
#u10165_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:83px;
}
#u10165_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:63px;
  width:20px;
  height:20px;
}
#u10165_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  line-height:36px;
}
#u10166 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:1816px;
  width:321px;
  height:84px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  line-height:36px;
}
#u10166 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
}
#u10167 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:2002px;
  width:245px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10168 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:1900px;
  width:0px;
  height:0px;
}
#u10168_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:103px;
}
#u10168_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:20px;
}
#u10168_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10169 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:2860px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D06958;
}
#u10169_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u10169_seg1 {
  border-width:0px;
  position:absolute;
  left:-219px;
  top:55px;
  width:224px;
  height:10px;
}
#u10169_seg2 {
  border-width:0px;
  position:absolute;
  left:-219px;
  top:55px;
  width:10px;
  height:82px;
}
#u10169_seg3 {
  border-width:0px;
  position:absolute;
  left:-224px;
  top:122px;
  width:20px;
  height:20px;
}
#u10169_text {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10170 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:1756px;
  width:0px;
  height:0px;
}
#u10170_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:461px;
  height:10px;
}
#u10170_seg1 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:-5px;
  width:10px;
  height:65px;
}
#u10170_seg2 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:45px;
  width:20px;
  height:20px;
}
#u10170_text {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10171 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:2070px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D06958;
}
#u10171_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:147px;
  height:10px;
}
#u10171_seg1 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10171_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10172 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:2028px;
  width:321px;
  height:84px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10172 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:184px;
}
#u10173 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:1978px;
  width:377px;
  height:184px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10174 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:2162px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D06958;
}
#u10174_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:908px;
}
#u10174_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:898px;
  width:126px;
  height:10px;
}
#u10174_seg2 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:893px;
  width:20px;
  height:20px;
}
#u10174_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:498px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10175 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:1944px;
  width:321px;
  height:251px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10175 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10176 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:2070px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10176_seg0 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:-5px;
  width:166px;
  height:10px;
}
#u10176_seg1 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10176_text {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
}
#u10177 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:2724px;
  width:245px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10178 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:2137px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10178_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:103px;
}
#u10178_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:20px;
}
#u10178_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10179 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:2557px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D06958;
}
#u10179_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:147px;
  height:10px;
}
#u10179_seg1 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10179_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10180 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:2515px;
  width:321px;
  height:84px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10180 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
}
#u10181 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:2489px;
  width:245px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10182 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:2625px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10182_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:104px;
}
#u10182_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:84px;
  width:20px;
  height:20px;
}
#u10182_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10183 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:2792px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10183_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:147px;
  height:10px;
}
#u10183_seg1 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10183_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10184 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:2750px;
  width:321px;
  height:84px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10184 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
}
#u10185 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:2249px;
  width:245px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10186 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:2385px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10186_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:103px;
}
#u10186_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:20px;
}
#u10186_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10187 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:2317px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D06958;
}
#u10187_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:147px;
  height:10px;
}
#u10187_seg1 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10187_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10188 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:2275px;
  width:321px;
  height:84px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
  text-align:justify;
  text-justify:inter-word;
  line-height:36px;
}
#u10188 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
