body {
  margin:0px;
  background-color:rgba(68, 68, 68, 1);
  background-image:none;
  position:relative;
  left:-28px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1789px;
  background:inherit;
  background-color:rgba(237, 242, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10032 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:77px;
  width:400px;
  height:1789px;
  display:flex;
}
#u10032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1789px;
  background:inherit;
  background-color:rgba(228, 234, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10033 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:77px;
  width:400px;
  height:1789px;
  display:flex;
}
#u10033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1789px;
  background:inherit;
  background-color:rgba(237, 242, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10034 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:77px;
  width:400px;
  height:1789px;
  display:flex;
}
#u10034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:55px;
  background:inherit;
  background-color:rgba(99, 122, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10037 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:22px;
  width:400px;
  height:55px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:55px;
  background:inherit;
  background-color:rgba(88, 112, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10038 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:22px;
  width:400px;
  height:55px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:55px;
  background:inherit;
  background-color:rgba(99, 122, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10039 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:22px;
  width:400px;
  height:55px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u10039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
  background:inherit;
  background-color:rgba(210, 231, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(38, 106, 185, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10040 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:176px;
  width:119px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:136px;
}
#u10041 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:689px;
  width:225px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10042 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:347px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10043 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:518px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10044 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:937px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10045 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:727px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:136px;
}
#u10046 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1108px;
  width:225px;
  height:136px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10047 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:1526px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:60px;
  background:inherit;
  background-color:rgba(210, 231, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(38, 106, 185, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10048 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:1697px;
  width:165px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10049 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:1350px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10050 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1146px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 144, 226, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10051 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:1152px;
  width:219px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10052 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:236px;
  width:0px;
  height:0px;
}
#u10052_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:116px;
}
#u10052_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:20px;
  height:20px;
}
#u10052_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10053 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:407px;
  width:0px;
  height:0px;
}
#u10053_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:116px;
}
#u10053_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:20px;
  height:20px;
}
#u10053_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10054 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:578px;
  width:0px;
  height:0px;
}
#u10054_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:116px;
}
#u10054_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:20px;
  height:20px;
}
#u10054_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10055 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:825px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10055_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:117px;
}
#u10055_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:97px;
  width:20px;
  height:20px;
}
#u10055_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10056 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:997px;
  width:0px;
  height:0px;
}
#u10056_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:116px;
}
#u10056_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:20px;
  height:20px;
}
#u10056_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10057 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1410px;
  width:0px;
  height:0px;
}
#u10057_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:121px;
}
#u10057_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:101px;
  width:20px;
  height:20px;
}
#u10057_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10058 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1586px;
  width:0px;
  height:0px;
}
#u10058_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:116px;
}
#u10058_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:20px;
  height:20px;
}
#u10058_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10059 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:757px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10059_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:194px;
  height:10px;
}
#u10059_seg1 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10059_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10060 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1176px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10060_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:194px;
  height:10px;
}
#u10060_seg1 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10060_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10061 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:1146px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D06958;
}
#u10061_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-73px;
  width:10px;
  height:73px;
}
#u10061_seg1 {
  border-width:0px;
  position:absolute;
  left:-409px;
  top:-73px;
  width:414px;
  height:10px;
}
#u10061_seg2 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-78px;
  width:20px;
  height:20px;
}
#u10061_text {
  border-width:0px;
  position:absolute;
  left:-220px;
  top:-82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10062 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:1206px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#3E9D53;
}
#u10062_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:166px;
}
#u10062_seg1 {
  border-width:0px;
  position:absolute;
  left:-301px;
  top:156px;
  width:306px;
  height:10px;
}
#u10062_seg2 {
  border-width:0px;
  position:absolute;
  left:-306px;
  top:151px;
  width:20px;
  height:20px;
}
#u10062_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:147px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10063 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1244px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#266AB9;
}
#u10063_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:21px;
}
#u10063_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:11px;
  width:680px;
  height:10px;
}
#u10063_seg2 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:-67px;
  width:10px;
  height:88px;
}
#u10063_seg3 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:-67px;
  width:70px;
  height:10px;
}
#u10063_seg4 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:-72px;
  width:20px;
  height:20px;
}
#u10063_text {
  border-width:0px;
  position:absolute;
  left:348px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10064 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:1152px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D06958;
}
#u10064_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-133px;
  width:10px;
  height:133px;
}
#u10064_seg1 {
  border-width:0px;
  position:absolute;
  left:-842px;
  top:-133px;
  width:847px;
  height:10px;
}
#u10064_seg2 {
  border-width:0px;
  position:absolute;
  left:-847px;
  top:-138px;
  width:20px;
  height:20px;
}
#u10064_text {
  border-width:0px;
  position:absolute;
  left:-407px;
  top:-142px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10065 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:1212px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#3E9D53;
}
#u10065_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:187px;
}
#u10065_seg1 {
  border-width:0px;
  position:absolute;
  left:-735px;
  top:177px;
  width:740px;
  height:10px;
}
#u10065_seg2 {
  border-width:0px;
  position:absolute;
  left:-740px;
  top:172px;
  width:20px;
  height:20px;
}
#u10065_text {
  border-width:0px;
  position:absolute;
  left:-326px;
  top:168px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10066 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:757px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#266AB9;
}
#u10066_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u10066_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-5px;
  width:10px;
  height:896px;
}
#u10066_seg2 {
  border-width:0px;
  position:absolute;
  left:-519px;
  top:881px;
  width:537px;
  height:10px;
}
#u10066_seg3 {
  border-width:0px;
  position:absolute;
  left:-524px;
  top:876px;
  width:20px;
  height:20px;
}
#u10066_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:694px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#606060;
  text-align:center;
}
#u10067 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1193px;
  width:169px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#606060;
  text-align:center;
}
#u10067 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10067_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
