body {
  margin:0px;
  background-color:rgba(68, 68, 68, 1);
  background-image:none;
  position:relative;
  left:-85px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(98, 95, 82, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8470 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:74px;
  width:375px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8470 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:582px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8471 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:131px;
  width:375px;
  height:582px;
  display:flex;
  color:#FFFFFF;
}
#u8471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u8472 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:131px;
  width:375px;
  height:44px;
  display:flex;
  color:#FFFFFF;
}
#u8472 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u8474 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:142px;
  width:161px;
  height:22px;
  display:flex;
  font-family:'MicrosoftYaHeiUI', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u8474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u8477 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:143px;
  width:12px;
  height:20px;
  display:flex;
}
#u8477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(119, 118, 118, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8478 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:74px;
  width:177px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHeiUI-Bold', 'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2C21F;
  line-height:20px;
}
#u8478 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8480 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:188px;
  width:351px;
  height:108px;
  display:flex;
}
#u8480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8482 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:263px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8483 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:206px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8485 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:263px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8485_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:78px;
}
#u8486 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:205px;
  width:93px;
  height:78px;
  display:flex;
}
#u8486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8488 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:308px;
  width:351px;
  height:108px;
  display:flex;
}
#u8488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8490 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:383px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8490_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8491 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:326px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u8492 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:322px;
  width:87px;
  height:82px;
  display:flex;
}
#u8492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8494 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:383px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8494_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8496 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:427px;
  width:351px;
  height:108px;
  display:flex;
}
#u8496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8498 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:502px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8499 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:445px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8501 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:502px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:78px;
}
#u8502 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:444px;
  width:93px;
  height:78px;
  display:flex;
}
#u8502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:8px;
  -moz-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(225, 231, 251, 0.349019607843137);
}
#u8504 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:547px;
  width:351px;
  height:108px;
  display:flex;
}
#u8504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8506 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:622px;
  width:103px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8507 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:565px;
  width:221px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:25px;
}
#u8507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u8508 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:561px;
  width:87px;
  height:82px;
  display:flex;
}
#u8508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8510 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:622px;
  width:48px;
  height:16px;
  display:flex;
  font-size:11px;
  color:#919191;
  line-height:16px;
}
#u8510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
